@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700|Roboto+Condensed|Ubuntu&display=swap');


.Main{

	.TextTransform{
		textarea{
			font-size:1.5em;
			height :600px;
			resize:none;
			width: 49%;
		}
		.transforms{
			&>div{
				margin-bottom: 1em;
			}
		}

	}

	.EmojiMaker{
		canvas{
			height : 200px;
			width  : 200px;
			border : 1px solid black;
		}
		textarea{
			resize : none;
		}
		img.sample{
			vertical-align : middle;
			height         : 22px;
			width          : 22px;
		}
	}
}